<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
        <center><ul>
            <li><a href="/">Home</a></li>
            <li><a target="_blank" href="/cv">CV</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/fun">Fun Projects</a></li>
            <li><a target="_blank" href="http://benshih.blogspot.com/">Projects Blog</a></li>  
        </ul></center>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
        <center><ul>
            <li><a href="mailto:benjshih@gmail.com">benjshih@gmail.com</a></li>
            <li><a target="_blank" href="https://github.com/benshih">Github</a></li>    
            <li><a target="_blank" href="http://benshihphoto.blogspot.com/">Photos</a></li>
            <li><a target="_blank" href="http://benshihdata.blogspot.com/">Data Blog</a></li>
            <li><a target="_blank" href="http://interestingbusinessmodels.blogspot.com/">Business Blog</a></li>
            <li><a target="_blank" href="http://benshihnotes.blogspot.com/">Notes Blog</a></li>
            <li><a target="_blank" href="/travel">Travel</a></li>
      </ul></center>
    </footer>
  </body>
</html>